/*table{
	border-collapse: collapse;
	align-items: left;
	margin: 20px auto;
}

tr{ 
  border-bottom: none;
  border-width: 1px 0;
}

th{
	text-align: center;
}
*/
body{
	display: grid;
	grid-template-areas:
	"header header header"
	"picture picture picture"
	
	"footer footer footer";
	grid-template-columns: 1fr 1fr 1fr;
	grid-auto-flow: row;
	background-color: lightblue;
}

#header{
	grid-area: header;
	grid-row: 1 / 3;
}

#bttn1{
	background: none;
	font-size: 24px;
	border:none;
	color: #0D47A1;
	margin: 15px 35px;
	font-family: "Courier New", Courier, monospace;
}

img{
	grid-area: picture;
}

#search{
	float: right;
	margin: 15px 35px;
}

#div2{
	font-family: "Courier New", Courier, monospace;
	background-color: #16395F;
	text-align: center;
	color: white;
	font-size: 28px;
}

#foot1{
	font-family: "Courier New", Courier, monospace;
	background-color: white;
	grid-area: footer;
}

#div3{
	font-family: "Courier New", Courier, monospace;
	color: white;
	font-size: 28px;
}

#border1{
	border-radius: 10%;
	width: 200px;
	height: 500px;
	padding:30px;
	border: 2px solid black;
	text-align: middle;
	width: 25%;
}

#fl{
	vertical-align: bottom;
}

#sub1{
	width: 180px;
	margin: 20px auto;
	font-family: "Courier New", Courier, monospace;
	background: #212F3D;
	border:none;
	color: #fff;
	border-radius: 7px;
}

#img1{
	border: 2px solid black;
	width: 150x;
	height: 125px;
	text-align:center;
}

